# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
venv/
ENV/
.env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

